*{

}
#title{
    display: inline-block;
    width: 49%;
}
#logout{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    text-align: right;
}
h1{
    margin: 0px;
}
#stage{
    border: thin solid black;
    /*display: inline-block;*/
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px #888888;
}
#queue{
    border: thin solid black;
    /*display: inline-block;
    vertical-align: top;*/
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px #888888;
}
#reaction{
    border: thin solid black;
    width: 100%;
    /*height: 200px;*/
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px #888888;
}
#audience{
    border: thin solid black;
    width: 50%;
    height: 400px;
    margin: auto;
    
}