*{
    /*border: thin dotted red;*/
}
#wrapper{
    text-align: center;
    background: brown; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, brown, tan); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, brown, tan); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, brown, tan); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, brown, tan); /* Standard syntax */  
    height: 100%;
}
#list{
    height: 175px;
    width: 80%;
    border: thin solid black;
    /*padding: 10px;*/
    margin: auto;
    /*margin-top: 10px;*/
    overflow: auto;
    background-color: white;
    margin-bottom: 10px;
}
ol li {
    text-align: left;
    margin: 0px;
}
button{
    width: 80%;
    margin: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}
h3{
    margin: 0px;
    color: white;
    text-shadow: 1px 1px black;
}